<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="dialect">NHibernate.Dialect.MsSql2000Dialect</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <!--
    <property name="connection.connection_string">Data Source=(LocalDb)DESKTOP-AI42I5A\SQLEXPRESS;Initial Catalog=CureMe;Integrated Security=true</property>
    -->
    <property name="connection.connection_string">Server=DESKTOP-AI42I5A\SQLEXPRESS;Database=CureMe;User Id=sa;Password=F@wad1997;</property>
  </session-factory>
</hibernate-configuration>