<form class="search-form" action="~/PatientSearch/Index" method="post">
    <div class="input-group">
        <input type="text" class="form-control input-sm" placeholder="Search..." name="name" autocomplete="off">
        <span class="input-group-btn">
            <a href="javascript:;" class="btn submit">
                <i class="icon-magnifier"></i>
            </a>
        </span>
    </div>
</form>
