@model Cure_Me.ViewModels.DoctorDischargePatient

@{
    ViewBag.Title = "Discharge Patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        @if (ViewBag.successMsg != null)
            {
            <div class="note note-success">
                <p>@ViewBag.successMsg</p>
            </div>
        }
        <!-- BEGIN PORTLET-->
        <div class="portlet light form-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="glyphicon glyphicon-pushpin font-red-mint"></i>
                    <span class="caption-subject font-red-mint sbold uppercase">Add Notice</span>
                </div>
            </div>
            <div class="portlet-body">
                <!-- BEGIN FORM-->
                @using (Html.BeginForm("DischargePatient", "Doctor", new { @class = "form-horizontal form-bordered" }))
                {
                    <div class="form-body">

                        <div class="form-group form-md-line-input">
                            <label class="col-md-1 control-label" style="text-align:left"></label>
                            <div class="col-md-10">
                                @Html.DropDownList("patientID", Model.patientList, "Select Patient", new { @class = "form-control font-dark", @style = "color: #C69E08" })

                                
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Select Patient</span>

                            </div>
                        </div>
                        <br /><br />
                        <div class="form-group form-md-line-input">
                            <label class="col-md-1 control-label" style="text-align:left"></label>
                            <div class="col-md-10">
                                <textarea name="dischargeSlip" class="form-control font-dark" rows="3" placeholder="Details"></textarea>
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Typing Details</span>

                            </div>
                        </div>

                    </div>
                    <br /><br /><br />
                    <hr />
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Submit" class="btn green" />
                                <input type="reset" value="Cancel" class="btn danger" />
                            </div>
                        </div>
                    </div><br />
                }
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
