@model Cure_Me.ViewModels.DoctorDischargedList
@{
    ViewBag.Title = "Discharged Patient List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN PAGE HEAD-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-user-unfollow font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Discharged Patients</span>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                    <thead>
                        <tr>
                            <th> Registration No </th>
                            <th> Full Name </th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patient in Model.PatientList)

                        {
                            <tr>
                                <td class="danger">@patient.RegistrationNo </td>
                                <td> @patient.Name </td>
                                <td><span class="label label-info label-sm"> Discharged </span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE BASE CONTENT -->
